spring:
  application:
    name: smartcaf-backend
  
  datasource:
    url: jdbc:h2:mem:smartcafdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
server:
  port: 8081
  
# Configuration CORS pour React
cors:
  allowed-origins: http://localhost:3000,http://localhost:3001,http://localhost:5173
  
# JWT Configuration
jwt:
  secret: VotreCleSecreteSuperLongueEtComplexePourLaProductionChangezCeci
  expiration: 86400000 # 24 heures en millisecondes
